<link rel="stylesheet" href="css/style_user.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    
    <title>Профиль</title>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="images/<%=info.image%>"><span class="font-weight-bold"></span><span class="text-black-50"></span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Профиль</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Имя</label><p type="text" class="form-control"><%=info.name%></div>
                        <div class="col-md-6"><label class="labels">Фамилия</label><p type="text" class="form-control" ><%=info.surname%></div>
                            <div class="col-md-6"><label class="labels">Отчество</label><p type="text" class="form-control" ><%=info.middle_name%></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Учебная организация</label><p type="text" class="form-control" placeholder="enter phone number" ><%=info.edu_org%></div>
                        <div class="col-md-12"><label class="labels">Класс/курс образования</label><p type="text" class="form-control" placeholder="enter address line 1" ><%=info.class_course_of_study%></div>
                        <div class="col-md-12"><label class="labels">Резюме</label><p type="text" class="form-control" placeholder="enter address line 2" ><%=info.summary%></div>
                        <div class="col-md-12"><label class="labels">Достижения</label><p type="text" class="form-control" placeholder="enter address line 2" ><%=info.add_achiev%></div>
                        <div class="col-md-12"><label class="labels">Успеваемость</label><p type="text" class="form-control" placeholder="enter address line 2" ><%=info.progress%></div>
                        
                    </div>
                    <!-- <div class="row mt-3">
                        <div class="col-md-6"><label class="labels"></label><p type="text" class="form-control" placeholder="country"></div>
                        <div class="col-md-6"><label class="labels"></label><p type="text" class="form-control"  placeholder="state"></div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <!-- <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span> </span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;</span></div><br>
                    <div class="col-md-12"><label class="labels"></label><p type="text" class="form-control" placeholder="experience" ></div> <br>
                    <div class="col-md-12"><label class="labels"></label><p type="text" class="form-control" placeholder="additional details"></div>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    </div>